<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>अ</string>
		<key>shortcut</key>
		<string>たいぞうかいだいにちにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>अ</string>
		<key>shortcut</key>
		<string>だいにちにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>अ</string>
		<key>shortcut</key>
		<string>だいにち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>आः</string>
		<key>shortcut</key>
		<string>たいぞうかいだいにちにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>आः</string>
		<key>shortcut</key>
		<string>だいにちにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>आः</string>
		<key>shortcut</key>
		<string>だいにち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>आँः</string>
		<key>shortcut</key>
		<string>たいぞうかいだいにちにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>आँः</string>
		<key>shortcut</key>
		<string>だいにちにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>आँः</string>
		<key>shortcut</key>
		<string>だいにち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>वँ</string>
		<key>shortcut</key>
		<string>こんごうかいだいにちにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>वँ</string>
		<key>shortcut</key>
		<string>だいにちにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>वँ</string>
		<key>shortcut</key>
		<string>だいにち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>वाँः</string>
		<key>shortcut</key>
		<string>こんごうかいだいにちにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>वाँः</string>
		<key>shortcut</key>
		<string>だいにちにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>वाँः</string>
		<key>shortcut</key>
		<string>だいにち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ह्रीः</string>
		<key>shortcut</key>
		<string>あみだにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ह्रीः</string>
		<key>shortcut</key>
		<string>あみだ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>स</string>
		<key>shortcut</key>
		<string>べんざいてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>स</string>
		<key>shortcut</key>
		<string>べんてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>म</string>
		<key>shortcut</key>
		<string>だいこくてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>श्री</string>
		<key>shortcut</key>
		<string>きっしょうてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>गः</string>
		<key>shortcut</key>
		<string>かんぎてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>गःगः</string>
		<key>shortcut</key>
		<string>かんぎてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>भः</string>
		<key>shortcut</key>
		<string>しゃかにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>भः</string>
		<key>shortcut</key>
		<string>しゃか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>स</string>
		<key>shortcut</key>
		<string>かんぜおんぼさつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>स</string>
		<key>shortcut</key>
		<string>かんのん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>स</string>
		<key>shortcut</key>
		<string>しょうかんのん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>सः</string>
		<key>shortcut</key>
		<string>せいしぼさつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>सः</string>
		<key>shortcut</key>
		<string>せいし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>मँ</string>
		<key>shortcut</key>
		<string>もんじゅぼさつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>मँ</string>
		<key>shortcut</key>
		<string>もんじゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>अँ</string>
		<key>shortcut</key>
		<string>ふげんぼさつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>अँ</string>
		<key>shortcut</key>
		<string>ふげん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>भै</string>
		<key>shortcut</key>
		<string>やくしにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>भै</string>
		<key>shortcut</key>
		<string>やくし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>अ</string>
		<key>shortcut</key>
		<string>にっこうぼさつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>अ</string>
		<key>shortcut</key>
		<string>にっこう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>च</string>
		<key>shortcut</key>
		<string>がっこうぼさつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>च</string>
		<key>shortcut</key>
		<string>がっこう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>यु</string>
		<key>shortcut</key>
		<string>みろくぼさつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>यु</string>
		<key>shortcut</key>
		<string>みろく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>वै</string>
		<key>shortcut</key>
		<string>たもんてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>वै</string>
		<key>shortcut</key>
		<string>びしゃもんてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>वै</string>
		<key>shortcut</key>
		<string>びしゃもん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>धृ</string>
		<key>shortcut</key>
		<string>じこくてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>वि</string>
		<key>shortcut</key>
		<string>こうもくてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>वि</string>
		<key>shortcut</key>
		<string>ぞうちょうてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>अः</string>
		<key>shortcut</key>
		<string>ふくうじょうじゅにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>अः</string>
		<key>shortcut</key>
		<string>ふくう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>हुं</string>
		<key>shortcut</key>
		<string>あしゅくにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>हुं</string>
		<key>shortcut</key>
		<string>あしゅく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>त्राः</string>
		<key>shortcut</key>
		<string>ほうしょうにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>त्राः</string>
		<key>shortcut</key>
		<string>ほうしょう</string>
	</dict>
</array>
</plist>
