<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>𛀂</string>
		<key>shortcut</key>
		<string>あ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀃</string>
		<key>shortcut</key>
		<string>あ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀄</string>
		<key>shortcut</key>
		<string>あ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀅</string>
		<key>shortcut</key>
		<string>あ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀆</string>
		<key>shortcut</key>
		<string>い</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀇</string>
		<key>shortcut</key>
		<string>い</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀈</string>
		<key>shortcut</key>
		<string>い</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀉</string>
		<key>shortcut</key>
		<string>い</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀊</string>
		<key>shortcut</key>
		<string>う</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀋</string>
		<key>shortcut</key>
		<string>う</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀌</string>
		<key>shortcut</key>
		<string>う</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀍</string>
		<key>shortcut</key>
		<string>う</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀎</string>
		<key>shortcut</key>
		<string>う</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀁</string>
		<key>shortcut</key>
		<string>え</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀏</string>
		<key>shortcut</key>
		<string>え</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀐</string>
		<key>shortcut</key>
		<string>え</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀑</string>
		<key>shortcut</key>
		<string>え</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀒</string>
		<key>shortcut</key>
		<string>え</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀓</string>
		<key>shortcut</key>
		<string>え</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀔</string>
		<key>shortcut</key>
		<string>お</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀕</string>
		<key>shortcut</key>
		<string>お</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀖</string>
		<key>shortcut</key>
		<string>お</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀗</string>
		<key>shortcut</key>
		<string>か</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀘</string>
		<key>shortcut</key>
		<string>か</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀙</string>
		<key>shortcut</key>
		<string>か</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀚</string>
		<key>shortcut</key>
		<string>か</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀛</string>
		<key>shortcut</key>
		<string>か</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀜</string>
		<key>shortcut</key>
		<string>か</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀝</string>
		<key>shortcut</key>
		<string>か</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀞</string>
		<key>shortcut</key>
		<string>か</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀟</string>
		<key>shortcut</key>
		<string>か</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀠</string>
		<key>shortcut</key>
		<string>か</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀡</string>
		<key>shortcut</key>
		<string>か</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀢</string>
		<key>shortcut</key>
		<string>か</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀣</string>
		<key>shortcut</key>
		<string>き</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀤</string>
		<key>shortcut</key>
		<string>き</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀥</string>
		<key>shortcut</key>
		<string>き</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀦</string>
		<key>shortcut</key>
		<string>き</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀧</string>
		<key>shortcut</key>
		<string>き</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀨</string>
		<key>shortcut</key>
		<string>き</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀩</string>
		<key>shortcut</key>
		<string>き</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀪</string>
		<key>shortcut</key>
		<string>き</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀻</string>
		<key>shortcut</key>
		<string>き</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀫</string>
		<key>shortcut</key>
		<string>く</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀬</string>
		<key>shortcut</key>
		<string>く</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀭</string>
		<key>shortcut</key>
		<string>く</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀮</string>
		<key>shortcut</key>
		<string>く</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀯</string>
		<key>shortcut</key>
		<string>く</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀰</string>
		<key>shortcut</key>
		<string>く</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀱</string>
		<key>shortcut</key>
		<string>く</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀲</string>
		<key>shortcut</key>
		<string>け</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀳</string>
		<key>shortcut</key>
		<string>け</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀴</string>
		<key>shortcut</key>
		<string>け</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀵</string>
		<key>shortcut</key>
		<string>け</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀶</string>
		<key>shortcut</key>
		<string>け</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀷</string>
		<key>shortcut</key>
		<string>け</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀢</string>
		<key>shortcut</key>
		<string>け</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀸</string>
		<key>shortcut</key>
		<string>こ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀹</string>
		<key>shortcut</key>
		<string>こ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀺</string>
		<key>shortcut</key>
		<string>こ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀻</string>
		<key>shortcut</key>
		<string>こ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂘</string>
		<key>shortcut</key>
		<string>こ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀼</string>
		<key>shortcut</key>
		<string>さ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀽</string>
		<key>shortcut</key>
		<string>さ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀾</string>
		<key>shortcut</key>
		<string>さ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀿</string>
		<key>shortcut</key>
		<string>さ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁀</string>
		<key>shortcut</key>
		<string>さ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁁</string>
		<key>shortcut</key>
		<string>さ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁂</string>
		<key>shortcut</key>
		<string>さ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁃</string>
		<key>shortcut</key>
		<string>さ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁄</string>
		<key>shortcut</key>
		<string>し</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁅</string>
		<key>shortcut</key>
		<string>し</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁆</string>
		<key>shortcut</key>
		<string>し</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁇</string>
		<key>shortcut</key>
		<string>し</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁈</string>
		<key>shortcut</key>
		<string>し</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁉</string>
		<key>shortcut</key>
		<string>し</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁊</string>
		<key>shortcut</key>
		<string>す</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁋</string>
		<key>shortcut</key>
		<string>す</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁌</string>
		<key>shortcut</key>
		<string>す</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁍</string>
		<key>shortcut</key>
		<string>す</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁎</string>
		<key>shortcut</key>
		<string>す</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁏</string>
		<key>shortcut</key>
		<string>す</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁐</string>
		<key>shortcut</key>
		<string>す</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁑</string>
		<key>shortcut</key>
		<string>す</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁒</string>
		<key>shortcut</key>
		<string>せ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁓</string>
		<key>shortcut</key>
		<string>せ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁔</string>
		<key>shortcut</key>
		<string>せ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁕</string>
		<key>shortcut</key>
		<string>せ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁖</string>
		<key>shortcut</key>
		<string>せ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁗</string>
		<key>shortcut</key>
		<string>そ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁘</string>
		<key>shortcut</key>
		<string>そ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁙</string>
		<key>shortcut</key>
		<string>そ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁚</string>
		<key>shortcut</key>
		<string>そ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁛</string>
		<key>shortcut</key>
		<string>そ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁜</string>
		<key>shortcut</key>
		<string>そ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁝</string>
		<key>shortcut</key>
		<string>そ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁞</string>
		<key>shortcut</key>
		<string>た</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁟</string>
		<key>shortcut</key>
		<string>た</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁠</string>
		<key>shortcut</key>
		<string>た</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁡</string>
		<key>shortcut</key>
		<string>た</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁢</string>
		<key>shortcut</key>
		<string>ち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁣</string>
		<key>shortcut</key>
		<string>ち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁤</string>
		<key>shortcut</key>
		<string>ち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁥</string>
		<key>shortcut</key>
		<string>ち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁦</string>
		<key>shortcut</key>
		<string>ち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁧</string>
		<key>shortcut</key>
		<string>ち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁨</string>
		<key>shortcut</key>
		<string>ち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁩</string>
		<key>shortcut</key>
		<string>つ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁪</string>
		<key>shortcut</key>
		<string>つ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁫</string>
		<key>shortcut</key>
		<string>つ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁬</string>
		<key>shortcut</key>
		<string>つ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁭</string>
		<key>shortcut</key>
		<string>つ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁮</string>
		<key>shortcut</key>
		<string>て</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁯</string>
		<key>shortcut</key>
		<string>て</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁰</string>
		<key>shortcut</key>
		<string>て</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁱</string>
		<key>shortcut</key>
		<string>て</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁲</string>
		<key>shortcut</key>
		<string>て</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁳</string>
		<key>shortcut</key>
		<string>て</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁴</string>
		<key>shortcut</key>
		<string>て</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁵</string>
		<key>shortcut</key>
		<string>て</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁶</string>
		<key>shortcut</key>
		<string>て</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂎</string>
		<key>shortcut</key>
		<string>て</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁷</string>
		<key>shortcut</key>
		<string>と</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁸</string>
		<key>shortcut</key>
		<string>と</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁹</string>
		<key>shortcut</key>
		<string>と</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁺</string>
		<key>shortcut</key>
		<string>と</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁻</string>
		<key>shortcut</key>
		<string>と</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁼</string>
		<key>shortcut</key>
		<string>と</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁭</string>
		<key>shortcut</key>
		<string>と</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁽</string>
		<key>shortcut</key>
		<string>と</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁾</string>
		<key>shortcut</key>
		<string>な</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁿</string>
		<key>shortcut</key>
		<string>な</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂀</string>
		<key>shortcut</key>
		<string>な</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂁</string>
		<key>shortcut</key>
		<string>な</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂂</string>
		<key>shortcut</key>
		<string>な</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂃</string>
		<key>shortcut</key>
		<string>な</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂄</string>
		<key>shortcut</key>
		<string>な</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂅</string>
		<key>shortcut</key>
		<string>な</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂆</string>
		<key>shortcut</key>
		<string>な</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂇</string>
		<key>shortcut</key>
		<string>に</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂈</string>
		<key>shortcut</key>
		<string>に</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂉</string>
		<key>shortcut</key>
		<string>に</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂊</string>
		<key>shortcut</key>
		<string>に</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂋</string>
		<key>shortcut</key>
		<string>に</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂌</string>
		<key>shortcut</key>
		<string>に</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂍</string>
		<key>shortcut</key>
		<string>に</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂎</string>
		<key>shortcut</key>
		<string>に</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂏</string>
		<key>shortcut</key>
		<string>ぬ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂐</string>
		<key>shortcut</key>
		<string>ぬ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂑</string>
		<key>shortcut</key>
		<string>ぬ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂒</string>
		<key>shortcut</key>
		<string>ね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂓</string>
		<key>shortcut</key>
		<string>ね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂔</string>
		<key>shortcut</key>
		<string>ね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂕</string>
		<key>shortcut</key>
		<string>ね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂖</string>
		<key>shortcut</key>
		<string>ね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂗</string>
		<key>shortcut</key>
		<string>ね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂘</string>
		<key>shortcut</key>
		<string>ね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂙</string>
		<key>shortcut</key>
		<string>の</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂚</string>
		<key>shortcut</key>
		<string>の</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂛</string>
		<key>shortcut</key>
		<string>の</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂜</string>
		<key>shortcut</key>
		<string>の</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂝</string>
		<key>shortcut</key>
		<string>の</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂞</string>
		<key>shortcut</key>
		<string>は</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂟</string>
		<key>shortcut</key>
		<string>は</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂠</string>
		<key>shortcut</key>
		<string>は</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂡</string>
		<key>shortcut</key>
		<string>は</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂢</string>
		<key>shortcut</key>
		<string>は</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂣</string>
		<key>shortcut</key>
		<string>は</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂤</string>
		<key>shortcut</key>
		<string>は</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂥</string>
		<key>shortcut</key>
		<string>は</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂦</string>
		<key>shortcut</key>
		<string>は</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂧</string>
		<key>shortcut</key>
		<string>は</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂨</string>
		<key>shortcut</key>
		<string>は</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂩</string>
		<key>shortcut</key>
		<string>ひ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂪</string>
		<key>shortcut</key>
		<string>ひ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂫</string>
		<key>shortcut</key>
		<string>ひ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂬</string>
		<key>shortcut</key>
		<string>ひ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂭</string>
		<key>shortcut</key>
		<string>ひ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂮</string>
		<key>shortcut</key>
		<string>ひ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂯</string>
		<key>shortcut</key>
		<string>ひ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂰</string>
		<key>shortcut</key>
		<string>ふ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂱</string>
		<key>shortcut</key>
		<string>ふ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂲</string>
		<key>shortcut</key>
		<string>ふ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂳</string>
		<key>shortcut</key>
		<string>へ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂴</string>
		<key>shortcut</key>
		<string>へ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂵</string>
		<key>shortcut</key>
		<string>へ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂶</string>
		<key>shortcut</key>
		<string>へ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂷</string>
		<key>shortcut</key>
		<string>へ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂸</string>
		<key>shortcut</key>
		<string>へ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂹</string>
		<key>shortcut</key>
		<string>へ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂺</string>
		<key>shortcut</key>
		<string>ほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂻</string>
		<key>shortcut</key>
		<string>ほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂼</string>
		<key>shortcut</key>
		<string>ほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂽</string>
		<key>shortcut</key>
		<string>ほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂾</string>
		<key>shortcut</key>
		<string>ほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛂿</string>
		<key>shortcut</key>
		<string>ほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃀</string>
		<key>shortcut</key>
		<string>ほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃁</string>
		<key>shortcut</key>
		<string>ほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃂</string>
		<key>shortcut</key>
		<string>ま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃃</string>
		<key>shortcut</key>
		<string>ま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃄</string>
		<key>shortcut</key>
		<string>ま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃅</string>
		<key>shortcut</key>
		<string>ま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃆</string>
		<key>shortcut</key>
		<string>ま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃇</string>
		<key>shortcut</key>
		<string>ま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃈</string>
		<key>shortcut</key>
		<string>ま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃖</string>
		<key>shortcut</key>
		<string>ま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃉</string>
		<key>shortcut</key>
		<string>み</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃊</string>
		<key>shortcut</key>
		<string>み</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃋</string>
		<key>shortcut</key>
		<string>み</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃌</string>
		<key>shortcut</key>
		<string>み</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃍</string>
		<key>shortcut</key>
		<string>み</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃎</string>
		<key>shortcut</key>
		<string>み</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃏</string>
		<key>shortcut</key>
		<string>み</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃐</string>
		<key>shortcut</key>
		<string>む</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃑</string>
		<key>shortcut</key>
		<string>む</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃒</string>
		<key>shortcut</key>
		<string>む</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃓</string>
		<key>shortcut</key>
		<string>む</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄝</string>
		<key>shortcut</key>
		<string>む</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄞</string>
		<key>shortcut</key>
		<string>む</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃔</string>
		<key>shortcut</key>
		<string>め</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃕</string>
		<key>shortcut</key>
		<string>め</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃖</string>
		<key>shortcut</key>
		<string>め</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃗</string>
		<key>shortcut</key>
		<string>も</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃘</string>
		<key>shortcut</key>
		<string>も</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃙</string>
		<key>shortcut</key>
		<string>も</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃚</string>
		<key>shortcut</key>
		<string>も</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃛</string>
		<key>shortcut</key>
		<string>も</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃜</string>
		<key>shortcut</key>
		<string>も</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄝</string>
		<key>shortcut</key>
		<string>も</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄞</string>
		<key>shortcut</key>
		<string>も</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃝</string>
		<key>shortcut</key>
		<string>や</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃞</string>
		<key>shortcut</key>
		<string>や</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃟</string>
		<key>shortcut</key>
		<string>や</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃠</string>
		<key>shortcut</key>
		<string>や</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃡</string>
		<key>shortcut</key>
		<string>や</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃢</string>
		<key>shortcut</key>
		<string>や</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃣</string>
		<key>shortcut</key>
		<string>ゆ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃤</string>
		<key>shortcut</key>
		<string>ゆ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃥</string>
		<key>shortcut</key>
		<string>ゆ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃦</string>
		<key>shortcut</key>
		<string>ゆ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃧</string>
		<key>shortcut</key>
		<string>よ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃨</string>
		<key>shortcut</key>
		<string>よ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃩</string>
		<key>shortcut</key>
		<string>よ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃪</string>
		<key>shortcut</key>
		<string>よ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃫</string>
		<key>shortcut</key>
		<string>よ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃬</string>
		<key>shortcut</key>
		<string>よ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃢</string>
		<key>shortcut</key>
		<string>よ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃭</string>
		<key>shortcut</key>
		<string>ら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃮</string>
		<key>shortcut</key>
		<string>ら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃯</string>
		<key>shortcut</key>
		<string>ら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃰</string>
		<key>shortcut</key>
		<string>ら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛁽</string>
		<key>shortcut</key>
		<string>ら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃱</string>
		<key>shortcut</key>
		<string>り</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃲</string>
		<key>shortcut</key>
		<string>り</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃳</string>
		<key>shortcut</key>
		<string>り</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃴</string>
		<key>shortcut</key>
		<string>り</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃵</string>
		<key>shortcut</key>
		<string>り</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃶</string>
		<key>shortcut</key>
		<string>り</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃷</string>
		<key>shortcut</key>
		<string>り</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃸</string>
		<key>shortcut</key>
		<string>る</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃹</string>
		<key>shortcut</key>
		<string>る</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃺</string>
		<key>shortcut</key>
		<string>る</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃻</string>
		<key>shortcut</key>
		<string>る</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃼</string>
		<key>shortcut</key>
		<string>る</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃽</string>
		<key>shortcut</key>
		<string>る</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃾</string>
		<key>shortcut</key>
		<string>れ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛃿</string>
		<key>shortcut</key>
		<string>れ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄀</string>
		<key>shortcut</key>
		<string>れ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄁</string>
		<key>shortcut</key>
		<string>れ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄂</string>
		<key>shortcut</key>
		<string>ろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄃</string>
		<key>shortcut</key>
		<string>ろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄄</string>
		<key>shortcut</key>
		<string>ろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄅</string>
		<key>shortcut</key>
		<string>ろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄆</string>
		<key>shortcut</key>
		<string>ろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄇</string>
		<key>shortcut</key>
		<string>ろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄈</string>
		<key>shortcut</key>
		<string>わ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄉</string>
		<key>shortcut</key>
		<string>わ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄊</string>
		<key>shortcut</key>
		<string>わ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄋</string>
		<key>shortcut</key>
		<string>わ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄌</string>
		<key>shortcut</key>
		<string>わ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄍</string>
		<key>shortcut</key>
		<string>ゐ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄎</string>
		<key>shortcut</key>
		<string>ゐ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄏</string>
		<key>shortcut</key>
		<string>ゐ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄐</string>
		<key>shortcut</key>
		<string>ゐ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄑</string>
		<key>shortcut</key>
		<string>ゐ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄒</string>
		<key>shortcut</key>
		<string>ゑ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄓</string>
		<key>shortcut</key>
		<string>ゑ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄔</string>
		<key>shortcut</key>
		<string>ゑ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄕</string>
		<key>shortcut</key>
		<string>ゑ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄖</string>
		<key>shortcut</key>
		<string>を</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄗</string>
		<key>shortcut</key>
		<string>を</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄘</string>
		<key>shortcut</key>
		<string>を</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄙</string>
		<key>shortcut</key>
		<string>を</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄚</string>
		<key>shortcut</key>
		<string>を</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄛</string>
		<key>shortcut</key>
		<string>を</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄜</string>
		<key>shortcut</key>
		<string>を</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛀅</string>
		<key>shortcut</key>
		<string>を</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄝</string>
		<key>shortcut</key>
		<string>ん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𛄞</string>
		<key>shortcut</key>
		<string>ん</string>
	</dict>
</array>
</plist>
