<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>旹</string>
		<key>shortcut</key>
		<string>とき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>刕</string>
		<key>shortcut</key>
		<string>しゅう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>夘</string>
		<key>shortcut</key>
		<string>う</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>夘</string>
		<key>shortcut</key>
		<string>ぼう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>乚</string>
		<key>shortcut</key>
		<string>きのと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>乚</string>
		<key>shortcut</key>
		<string>おつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>刁</string>
		<key>shortcut</key>
		<string>とら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>刁</string>
		<key>shortcut</key>
		<string>いん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𨐌</string>
		<key>shortcut</key>
		<string>かのと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𨐌</string>
		<key>shortcut</key>
		<string>しん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>攵</string>
		<key>shortcut</key>
		<string>ぶん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>眾</string>
		<key>shortcut</key>
		<string>しゅう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>乑</string>
		<key>shortcut</key>
		<string>しゅう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>无</string>
		<key>shortcut</key>
		<string>む</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>廿</string>
		<key>shortcut</key>
		<string>にじゅう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>廾</string>
		<key>shortcut</key>
		<string>にじゅう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>丗</string>
		<key>shortcut</key>
		<string>さんじゅう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>卅</string>
		<key>shortcut</key>
		<string>さんじゅう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>皈</string>
		<key>shortcut</key>
		<string>かえる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>皈</string>
		<key>shortcut</key>
		<string>き</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>囙</string>
		<key>shortcut</key>
		<string>こまる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>囙</string>
		<key>shortcut</key>
		<string>いん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>羪</string>
		<key>shortcut</key>
		<string>やしなう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>羪</string>
		<key>shortcut</key>
		<string>よう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>蠶</string>
		<key>shortcut</key>
		<string>かいこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>蠺</string>
		<key>shortcut</key>
		<string>かいこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>蠶</string>
		<key>shortcut</key>
		<string>さん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>蠺</string>
		<key>shortcut</key>
		<string>さん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>靈</string>
		<key>shortcut</key>
		<string>れい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>灵</string>
		<key>shortcut</key>
		<string>れい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>㞢</string>
		<key>shortcut</key>
		<string>これ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>佛</string>
		<key>shortcut</key>
		<string>ほとけ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>佛</string>
		<key>shortcut</key>
		<string>ぶつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>枩</string>
		<key>shortcut</key>
		<string>まつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>柗</string>
		<key>shortcut</key>
		<string>まつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>枩</string>
		<key>shortcut</key>
		<string>しょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>柗</string>
		<key>shortcut</key>
		<string>しょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>釋</string>
		<key>shortcut</key>
		<string>しゃく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>國</string>
		<key>shortcut</key>
		<string>くに</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>國</string>
		<key>shortcut</key>
		<string>こく</string>
	</dict>
</array>
</plist>
