<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>𑖀</string>
		<key>shortcut</key>
		<string>たいぞうかいだいにちにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖀</string>
		<key>shortcut</key>
		<string>だいにちにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖀</string>
		<key>shortcut</key>
		<string>だいにち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖀</string>
		<key>shortcut</key>
		<string>ほうとうにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖀</string>
		<key>shortcut</key>
		<string>ほうとう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖀</string>
		<key>shortcut</key>
		<string>にっこうぼさつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖀</string>
		<key>shortcut</key>
		<string>にっこう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖁</string>
		<key>shortcut</key>
		<string>かいふけおうにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖁</string>
		<key>shortcut</key>
		<string>かいふけおう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖁𑖲𑖼𑖾</string>
		<key>shortcut</key>
		<string>たいぞうかいだいにちにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖁𑖲𑖼𑖾</string>
		<key>shortcut</key>
		<string>だいにちにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖁𑖲𑖼𑖾</string>
		<key>shortcut</key>
		<string>だいにち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖀𑖾</string>
		<key>shortcut</key>
		<string>ふくうじょうじゅにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖀𑖾</string>
		<key>shortcut</key>
		<string>ふくうじょうじゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖀𑖾</string>
		<key>shortcut</key>
		<string>てんくらいおんにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖀𑖾</string>
		<key>shortcut</key>
		<string>てんくらいおん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖀𑖼</string>
		<key>shortcut</key>
		<string>むりょうじゅにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖀𑖼</string>
		<key>shortcut</key>
		<string>むりょうじゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖀𑖼</string>
		<key>shortcut</key>
		<string>ふげんぼさつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖀𑖼</string>
		<key>shortcut</key>
		<string>ふげん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖀𑖲𑖾</string>
		<key>shortcut</key>
		<string>たいぞうかいだいにちにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖀𑖲𑖾</string>
		<key>shortcut</key>
		<string>だいにちにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖀𑖲𑖾</string>
		<key>shortcut</key>
		<string>だいにち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖥𑖾</string>
		<key>shortcut</key>
		<string>しゃかにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖥𑖾</string>
		<key>shortcut</key>
		<string>しゃか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖥𑖹</string>
		<key>shortcut</key>
		<string>やくしにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖥𑖹</string>
		<key>shortcut</key>
		<string>やくし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖓</string>
		<key>shortcut</key>
		<string>がっこうぼさつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖓</string>
		<key>shortcut</key>
		<string>がっこう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖠𑖴</string>
		<key>shortcut</key>
		<string>じこくてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖐𑖾</string>
		<key>shortcut</key>
		<string>かんぎてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖐𑖾𑖐𑖾</string>
		<key>shortcut</key>
		<string>かんぎてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮</string>
		<key>shortcut</key>
		<string>じぞうぼさつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮</string>
		<key>shortcut</key>
		<string>じぞう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮</string>
		<key>shortcut</key>
		<string>てんかじぞう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮</string>
		<key>shortcut</key>
		<string>てんか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑖯𑖼</string>
		<key>shortcut</key>
		<string>ふどうみょうおう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑖯𑖼</string>
		<key>shortcut</key>
		<string>ふどう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑖿𑖦𑖿𑖦𑖯𑖼</string>
		<key>shortcut</key>
		<string>ふどうみょうおう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑖿𑖦𑖿𑖦𑖯𑖼</string>
		<key>shortcut</key>
		<string>ふどう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑖿𑖨𑖱𑖾</string>
		<key>shortcut</key>
		<string>あみだにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑖿𑖨𑖱𑖾</string>
		<key>shortcut</key>
		<string>あみだ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑖿𑖨𑖱𑖾</string>
		<key>shortcut</key>
		<string>だいいとくみょうおう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑖿𑖨𑖱𑖾</string>
		<key>shortcut</key>
		<string>だいいとく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑖿𑖨𑖱𑖾</string>
		<key>shortcut</key>
		<string>せんじゅかんのん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑖿𑖨𑖱𑖾</string>
		<key>shortcut</key>
		<string>せんじゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑖿𑖨𑖱𑖾</string>
		<key>shortcut</key>
		<string>にょいりんかんのん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑖿𑖨𑖱𑖾</string>
		<key>shortcut</key>
		<string>にょいりん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑗜𑖽</string>
		<key>shortcut</key>
		<string>ぐんだりみょうおう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑗜𑖽</string>
		<key>shortcut</key>
		<string>ぐんだり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑗝𑖽</string>
		<key>shortcut</key>
		<string>こんごうやしゃみょうおう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑗝𑖽</string>
		<key>shortcut</key>
		<string>こんごうやしゃ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑗝𑖽</string>
		<key>shortcut</key>
		<string>ばとうかんのん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑗝𑖽</string>
		<key>shortcut</key>
		<string>ばとう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑖳𑖽</string>
		<key>shortcut</key>
		<string>あしゅくにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑖳𑖽</string>
		<key>shortcut</key>
		<string>あしゅく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑖳𑖽</string>
		<key>shortcut</key>
		<string>ごうざんぜみょうおう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑖳𑖽</string>
		<key>shortcut</key>
		<string>ごうざんぜ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑖳𑖽</string>
		<key>shortcut</key>
		<string>あいぜんみょうおう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖮𑖳𑖽</string>
		<key>shortcut</key>
		<string>あいぜん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑗘</string>
		<key>shortcut</key>
		<string>てんげつじぞう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑗘</string>
		<key>shortcut</key>
		<string>てんげつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑗙</string>
		<key>shortcut</key>
		<string>じんぷくじぞう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑗙</string>
		<key>shortcut</key>
		<string>じんぷく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖂</string>
		<key>shortcut</key>
		<string>こくいじぞう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖂</string>
		<key>shortcut</key>
		<string>こくい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖃</string>
		<key>shortcut</key>
		<string>きりじぞう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖃</string>
		<key>shortcut</key>
		<string>きり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖎</string>
		<key>shortcut</key>
		<string>ふげんぼさつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖎</string>
		<key>shortcut</key>
		<string>ふげん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖎</string>
		<key>shortcut</key>
		<string>にっこうぼさつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖎</string>
		<key>shortcut</key>
		<string>にっこう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖎</string>
		<key>shortcut</key>
		<string>じゅういちめんかんのん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖎</string>
		<key>shortcut</key>
		<string>じゅういちめん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖦</string>
		<key>shortcut</key>
		<string>だいこくてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖦</string>
		<key>shortcut</key>
		<string>だいこく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖦𑖼</string>
		<key>shortcut</key>
		<string>もんじゅぼさつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖦𑖼</string>
		<key>shortcut</key>
		<string>もんじゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖦𑖺</string>
		<key>shortcut</key>
		<string>ふくうけんさくかんのん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖦𑖺</string>
		<key>shortcut</key>
		<string>ふくうけんさく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖨𑖹</string>
		<key>shortcut</key>
		<string>しょいじぞう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖨𑖹</string>
		<key>shortcut</key>
		<string>しょい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖭</string>
		<key>shortcut</key>
		<string>かんぜおんぼさつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖭</string>
		<key>shortcut</key>
		<string>かんぜおん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖭</string>
		<key>shortcut</key>
		<string>かんのん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖭</string>
		<key>shortcut</key>
		<string>しょうかんのん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖭𑖾</string>
		<key>shortcut</key>
		<string>せいしぼさつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖭𑖾</string>
		<key>shortcut</key>
		<string>せいし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖫𑖿𑖨𑖱</string>
		<key>shortcut</key>
		<string>きっしょうてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖭𑗜</string>
		<key>shortcut</key>
		<string>みょうけんぼさつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖭𑗜</string>
		<key>shortcut</key>
		<string>みょうけん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖭𑗜</string>
		<key>shortcut</key>
		<string>べんざいてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖭𑗜</string>
		<key>shortcut</key>
		<string>べんてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖝𑖿𑖨𑖯𑖾</string>
		<key>shortcut</key>
		<string>ほうしょうにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖝𑖿𑖨𑖯𑖾</string>
		<key>shortcut</key>
		<string>ほうしょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖪𑖯𑖼𑖾</string>
		<key>shortcut</key>
		<string>こんごうかいだいにちにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖪𑖯𑖼𑖾</string>
		<key>shortcut</key>
		<string>だいにちにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖪𑖯𑖼𑖾</string>
		<key>shortcut</key>
		<string>だいにち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖪𑖹</string>
		<key>shortcut</key>
		<string>たもんてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖪𑖹</string>
		<key>shortcut</key>
		<string>びしゃもんてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖪𑖹</string>
		<key>shortcut</key>
		<string>びしゃもん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖪𑖼</string>
		<key>shortcut</key>
		<string>こんごうかいだいにちにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖪𑖼</string>
		<key>shortcut</key>
		<string>だいにちにょらい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖪𑖼</string>
		<key>shortcut</key>
		<string>だいにち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖪𑖰</string>
		<key>shortcut</key>
		<string>こうもくてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖪𑖰</string>
		<key>shortcut</key>
		<string>ぞうちょうてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖧𑖲</string>
		<key>shortcut</key>
		<string>みろくぼさつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𑖧𑖲</string>
		<key>shortcut</key>
		<string>みろく</string>
	</dict>
</array>
</plist>
